.our-milestones {
  background-image: url("https://www.raymond.in/static/media/Milestone.8a825b135cfe0437486c.jpg");
  width: 99%;
  margin: 0 auto;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 6em 0 5em; // Combined padding-top and padding-bottom
  text-align: center;

  h2 {
    font-size: 2.75em;
    letter-spacing: 0.031em;
    font-weight: bold;
    opacity: 0.9;
  }

  .button-container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 86%;

    .swiper-button-prev-custom,
    .swiper-button-next-custom {
      font-weight: bold;
      background: none;
      border: none;
      color: #fff;
      font-size: 1.5em;
      z-index: 99;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      cursor: pointer;
    }
  }

  .year-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    padding-top: 1em;
    font-size: 1.375em;
    font-weight: 600;

    .year {
      position: relative;
      opacity: 0.9;
      cursor: pointer;

      .underline {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 2px;
        background: #ccc;
        transition: all 0.3s ease;
        width: 0;
      }
      .underline.active {
        width: 70%;
      }
    }
  }

  .section-container {
    padding-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .swiper {
      width: 98%;
      height: 66vh;
    }

    .our-milestone-image {
      width: 80%;
      position: absolute;
      top: 37%;
    }

    .swiper-slide {
      height: 90%;
      text-align: center;
      background: transparent;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;

      h3 {
        font-size: 3.313em;
        font-weight: bold;
        letter-spacing: 0.241em;
      }

      p {
        font-size: 1em;
        font-weight: 400;
        letter-spacing: 0.1em;
        line-height: 1.7em;
        text-align: left;
        opacity: 0.8;
      }
    }

    .swiper-pagination {
      bottom: 10%;
      text-align: center;
      width: 100%;

      .swiper-pagination-bullet {
        width: 20px;
        height: 2px;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 20%;
        opacity: 0.5;
        transition: transform 0.3s, background-color 0.3s;
        margin-right: 1em;
      }

      .swiper-pagination-bullet-active {
        transform: scale(1.5);
        background-color: #fff;
        opacity: 1;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0.5;
        z-index: -1;
      }
    }
  }
}
