.our-milestones {
  background-image: url("https://www.raymond.in/static/media/Milestone.8a825b135cfe0437486c.jpg");
  width: 99%;
  margin: 0 auto;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 6em 0 5em;
  text-align: center;

  h2 {
    font-size: 2.75em;
    letter-spacing: 0.031em;
    font-weight: bold;
    opacity: 0.9;
  }

  .button-container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 86%;

    .swiper-button-prev-custom,
    .swiper-button-next-custom {
      font-weight: bold;
      background: none;
      border: none;
      color: #fff;
      font-size: 1.5em;
      z-index: 99;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      cursor: pointer;
    }
  }

  .year-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    padding-top: 1em;
    font-size: 1.375em;
    font-weight: 600;

    .mobile-vue {
      background-color: blue($color: #000000);
      height: 5em;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;

      select {
        height: 7vh;
        padding: 1em;
        background-color: #ed193a;
        text-align: center;
        color: #fff;
        font-weight: bold 600;
        text-align-last: center;
        .lt {
          width: 2em;
          // background-color: #ed193a;
          text-align: center;
          color: #fff;
          font-weight: bold 600;
          text-align-last: center;
          position: relative;
        }
      }
    }

    .year {
      position: relative;
      opacity: 0.9;
      cursor: pointer;

      .underline {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 2px;
        background: #ccc;
        transition: all 0.3s ease;
        width: 0;
      }
      .underline.active {
        width: 70%;
      }
    }
  }

  .section-container {
    padding-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .swiper {
      width: 98%;
      height: 66vh;
    }

    .our-milestone-image {
      width: 80%;
      position: absolute;
      top: 35%;
    }

    .swiper-slide {
      height: fit-content;
      text-align: center;
      background: transparent;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;

      h3 {
        font-size: 3.313em;
        font-weight: bold;
        letter-spacing: 0.241em;
      }

      p {
        font-size: 1em;
        font-weight: 400;
        letter-spacing: 0.1em;
        line-height: 1.7em;
        text-align: left;
        opacity: 0.8;
      }
    }

    .swiper-pagination {
      bottom: 10%;
      text-align: center;
      width: 100%;

      .swiper-pagination-bullet {
        width: 20px;
        height: 2px;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 20%;
        opacity: 0.5;
        transition: transform 0.3s, background-color 0.3s;
        margin-right: 1em;
      }

      .swiper-pagination-bullet-active {
        transform: scale(1.5);
        background-color: #fff;
        opacity: 1;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0.5;
        z-index: -1;
      }
    }
  }
}

@media (width>1600px) and (width<=2560px) {
  .our-milestones {
    padding: 2em 1em;
    height: auto;
    .button-container {
      position: absolute;
      display: flex;
      justify-content: space-around;
      align-items: center;
      left: 15%;
      right: 15%;
      bottom: 0;
      gap: 86%;

      .swiper-button-prev-custom,
      .swiper-button-next-custom {
        font-weight: bold;
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5em;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        cursor: pointer;
      }
    }
    h2 {
      font-size: 3em;
    }

    .swiper {
      height: fit-content;
    }

    .swiper-slide {
      height: fit-content;
      h3 {
        font-size: 1.25em;
      }

      p {
        font-size: 1em;
        text-align: justify;
        padding: 0.5em;
        padding-bottom: 4em;
      }

      .our-milestone-image {
        width: 90%;
        top: 20%;
      }

      .year {
        font-size: 1.5em;
      }
    }

    .section-container {
      padding: 0;
      .swiper {
        height: fit-content !important;
      }
      .our-milestone-image {
        top: 24%;
      }
      .swiper-pagination {
        bottom: 10%;
        text-align: center;
        width: 100%;

        .swiper-pagination-bullet {
          width: 4px;
          height: 2px;
          background-color: transparent;
          border: 2px solid #fff;
          border-radius: 20%;
          opacity: 0.5;
          transition: transform 0.3s, background-color 0.3s;
          margin-right: 1em;
        }

        .swiper-pagination-bullet-active {
          width: 6px;
          transform: scale(1.5);
          background-color: #fff;
          opacity: 1;
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0.5;
          z-index: -1;
        }
      }
    }
  }

  .our-milestones .year-container {
    gap: 1.5em;
    flex-direction: row; /* Stack years vertically */
    align-items: flex-start; /* Align items to the start of the container */
  }
}
@media (width>1440px) and (width<=2560px) {
  .our-milestones {
    padding: 2em 1em;
    height: auto;
    .button-container {
      position: absolute;
      display: flex;
      justify-content: space-around;
      align-items: center;
      left: 15%;
      right: 15%;
      bottom: 0;
      gap: 86%;

      .swiper-button-prev-custom,
      .swiper-button-next-custom {
        font-weight: bold;
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5em;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        cursor: pointer;
      }
    }
    h2 {
      font-size: 3em;
    }

    .swiper {
      height: fit-content;
    }

    .swiper-slide {
      height: fit-content;
      h3 {
        font-size: 1.25em;
      }

      p {
        font-size: 1em;
        text-align: justify;
        padding: 0.5em;
        padding-bottom: 4em;
      }

      .our-milestone-image {
        width: 90%;
        top: 20%;
      }

      .year {
        font-size: 1.5em;
      }
    }

    .section-container {
      padding: 0;
      .swiper {
        height: fit-content !important;
      }
      .our-milestone-image {
        top: 25%;
      }
      .swiper-pagination {
        bottom: 10%;
        text-align: center;
        width: 100%;

        .swiper-pagination-bullet {
          width: 4px;
          height: 2px;
          background-color: transparent;
          border: 2px solid #fff;
          border-radius: 20%;
          opacity: 0.5;
          transition: transform 0.3s, background-color 0.3s;
          margin-right: 1em;
        }

        .swiper-pagination-bullet-active {
          width: 6px;
          transform: scale(1.5);
          background-color: #fff;
          opacity: 1;
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0.5;
          z-index: -1;
        }
      }
    }
  }

  .our-milestones .year-container {
    gap: 1.5em;
    flex-direction: row; /* Stack years vertically */
    align-items: flex-start; /* Align items to the start of the container */
  }
}
@media (width>1023px) and (width<=1440px) {
  .our-milestones {
    padding: 2em 1em;
    height: auto;
    .button-container {
      position: absolute;
      display: flex;
      justify-content: space-around;
      align-items: center;
      left: 15%;
      right: 15%;
      bottom: 0;
      gap: 86%;

      .swiper-button-prev-custom,
      .swiper-button-next-custom {
        font-weight: bold;
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5em;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        cursor: pointer;
      }
    }
    h2 {
      font-size: 3em;
    }

    .swiper {
      height: fit-content;
    }

    .swiper-slide {
      height: fit-content;
      h3 {
        font-size: 1.25em;
      }

      p {
        font-size: 1em;
        text-align: justify;
        padding: 0.5em;
        padding-bottom: 4em;
      }

      .our-milestone-image {
        width: 90%;
        top: 20%;
      }

      .year {
        font-size: 1.5em;
      }
    }

    .section-container {
      padding: 0;
      .swiper {
        height: fit-content !important;
      }
      .our-milestone-image {
        top: 20%;
      }
      .swiper-pagination {
        bottom: 10%;
        text-align: center;
        width: 100%;

        .swiper-pagination-bullet {
          width: 4px;
          height: 2px;
          background-color: transparent;
          border: 2px solid #fff;
          border-radius: 20%;
          opacity: 0.5;
          transition: transform 0.3s, background-color 0.3s;
          margin-right: 1em;
        }

        .swiper-pagination-bullet-active {
          width: 6px;
          transform: scale(1.5);
          background-color: #fff;
          opacity: 1;
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0.5;
          z-index: -1;
        }
      }
    }
  }

  .our-milestones .year-container {
    gap: 1.5em;
    flex-direction: row; /* Stack years vertically */
    align-items: flex-start; /* Align items to the start of the container */
  }
}

@media (width>480px) and (width<=1023px) {
  .our-milestones {
    padding: 2em 1em;
    height: auto;
    .button-container {
      position: absolute;
      display: flex;
      justify-content: space-around;
      align-items: center;
      left: 15%;
      right: 15%;
      bottom: 0;
      gap: 86%;

      .swiper-button-prev-custom,
      .swiper-button-next-custom {
        font-weight: bold;
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5em;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        cursor: pointer;
      }
    }
    h2 {
      font-size: 3em;
    }

    .swiper {
      height: fit-content;
    }

    .swiper-slide {
      height: fit-content;
      h3 {
        font-size: 1.25em;
      }

      p {
        font-size: 1em;
        text-align: justify;
        padding: 0.5em;
        padding-bottom: 4em;
      }

      .our-milestone-image {
        width: 90%;
        top: 20%;
      }

      .year {
        font-size: 1.5em;
      }
    }

    .section-container {
      padding: 0;
      .swiper {
        height: fit-content !important;
      }
      .our-milestone-image {
        display: none;
      }
      .swiper-pagination {
        bottom: 10%;
        text-align: center;
        width: 100%;

        .swiper-pagination-bullet {
          width: 4px;
          height: 2px;
          background-color: transparent;
          border: 2px solid #fff;
          border-radius: 20%;
          opacity: 0.5;
          transition: transform 0.3s, background-color 0.3s;
          margin-right: 1em;
        }

        .swiper-pagination-bullet-active {
          width: 6px;
          transform: scale(1.5);
          background-color: #fff;
          opacity: 1;
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0.5;
          z-index: -1;
        }
      }
    }
  }

  .our-milestones .year-container {
    gap: 1.5em;
    flex-direction: row; /* Stack years vertically */
    align-items: flex-start; /* Align items to the start of the container */
  }
}

/* Mobile devices in landscape */
@media (width < 480px) {
  .our-milestones {
    padding: 2em 1em;
    height: auto;
    .button-container {
      position: absolute;
      display: flex;
      justify-content: space-around;
      align-items: center;
      left: 15%;
      right: 15%;
      bottom: 0;
      gap: 86%;

      .swiper-button-prev-custom,
      .swiper-button-next-custom {
        font-weight: bold;
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5em;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        cursor: pointer;
      }
    }
    h2 {
      font-size: 3em;
    }

    .swiper {
      height: fit-content;
    }

    .swiper-slide {
      height: fit-content;
      h3 {
        font-size: 1.25em;
      }

      p {
        font-size: 1em;
        text-align: justify;
        padding: 0.5em;
        padding-bottom: 4em;
      }

      .our-milestone-image {
        width: 90%;
        top: 20%;
      }

      .year {
        font-size: 1.5em;
      }
    }

    .section-container {
      padding: 0;
      .swiper {
        height: fit-content !important;
      }
      .our-milestone-image {
        display: none;
      }
      .swiper-pagination {
        bottom: 10%;
        text-align: center;
        width: 100%;

        .swiper-pagination-bullet {
          width: 4px;
          height: 2px;
          background-color: transparent;
          border: 2px solid #fff;
          border-radius: 20%;
          opacity: 0.5;
          transition: transform 0.3s, background-color 0.3s;
          margin-right: 1em;
        }

        .swiper-pagination-bullet-active {
          width: 6px;
          transform: scale(1.5);
          background-color: #fff;
          opacity: 1;
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0.5;
          z-index: -1;
        }
      }
    }
  }

  .our-milestones .year-container {
    gap: 0;
    flex-direction: column; /* Stack years vertically */
    align-items: flex-start; /* Align items to the start of the container */
    padding-top: 0; /* Adjust padding as needed */
  }
}
